<%= f.field_container :amount do %>
	<div class="form-group">
	  <%= f.label :amount, Spree.t("amount")%><br />
	  <%= f.text_field :amount, class: "form-control" %>
	</div>
<% end %>
<%= f.field_container :reason do %>
	<div class="form-group">
	  <%= f.label :reason, Spree.t("reason")%><br />
	  <%= f.text_field :reason, class: "form-control" %>
	</div>
<% end %>
